.container {
  position: relative;
}


.dropdownContainer {
  display: block;
  background: white;
  position: absolute;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba( 0, 0, 0, .2 );
  width: 100%;
  z-index: 20;
  max-width: 300px;
}

.dropdownList {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.dropdownItem {
  color: #000;
  padding: 8px 10px;
  cursor: pointer;
}

.dropdownItem:hover {
  background-color: #EEEEEE;
  text-decoration: none;
}

.dropdownItem:focus {
  background-color: #eee;
}

.link {
  display: block;
  color: #000;
  padding: 8px 10px;
  cursor: pointer;
}
